body	{

background-color: #00004d;

}
 .visokiems
 {
	
 border: 4px inset #6666ff;
 border-collapse: collapse;
 margin-left: auto;
 margin-right: auto;
  text-transform: none;
background-color: #29053d;
padding: 10px;
color: #a64dff;
text-align: center;
font-weight: 900;
letter-spacing: 5px;
font-size: 15px;


}
.visiems
	{
letter-spacing: 7px;
font-size: 25px;
border: 4px inset #6666ff;
border-collapse: collapse;
margin-left: auto;
margin-right: auto;
margin-top: 2px;
width: 50%;  		
background-color: #29053d;
padding: 5px;
color:#a64dff;
text-transform: uppercase;
text-align: center;
font-weight: 200px;



}

.vyras	{

height: 300px;
width: 300px;

}





	
  

